
img{
    pointer-events: none;
}

address {
    display: inline;
}

main {
    width: 100vw;
    height: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.content {
    width: 100%;
    background: #f5f5f5;
    padding: 1rem 3rem;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.sidebar {
    background: #d8d8d8;
    width: 700px;
    height: 100vh;
    position: relative;

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.sidebar ul {
    list-style: none;
    margin: 1rem 0 0 -2rem;
}

.sidebar ul li{
    width: 100%;
    transition: all 300ms;
    color: #282936;
}

.sidebar ul li.active {
    background: #f5f5f5;
}

.sidebar ul li a{
    color: #282936;
    font-size: 1.5rem;
    font-style: italic;
    padding: 15px 25px;
    width: 100%;
    display: block;
}

.sidebar ul li a:hover {
    background: #282936;
    color: #f5f5f5;
}

.content .title {
    font-size: 2rem;
    font-weight: 800;
}

.content .line1 {
    height: 2px;
    width: 89px;
    background: #1d4ed8;
    position: absolute;
    top: 109px;
    left: 0;
}

.content .line2 {
    height: 2px;
    width: 615px;
    background: #1d4ed8;
    position: absolute;
    top: 109px;
    left: 450px;
}

.content .content-list {
    top: .5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content .content-list img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.content .content-list .content__list-img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 200px;
    width: 250px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
    object-fit: cover;
}

.content .content-list .content__list-img-box:hover img {
    transform: scale(1.2);
}

.content .content-list .content__list-img-box:hover {
    cursor: pointer;
}

.about-container {
    padding: 2rem 5rem;
    min-height: 100vh;
    flex-direction: c;
}

.about-container .img {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 2rem auto;
}

.about-container img {
    width: 100%;
    height: 200px;
}

/* .about-container::before {
    content: '';
    background: url(http://elms.catcollege.edu.ph/pluginfile.php/1/theme_klass/footerlogo/1595474579/logo%20small.png) no-repeat;
    background-position: center center;
    background-size: 80%;
    position: absolute;
    left: 0;
    top: 125px;
    right: 0;
    bottom: 0;
    z-index: -1000;
    opacity: 0.3;
} */

.about-title {
    font-size: 2rem;
}

.about {
    border-top: .1em solid #2c2d38;
    padding: 1rem;
}

.about p {
    margin-top: 1rem;
    text-align: justify;
    text-indent: 50px;
}

.about a {
    color: #1d4ed8;
}

.mv-container {
    padding: 2rem 5rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem
}

.mv-title {
    font-size: 2rem;
}

.mission,
.vision {
    border-top: .1em solid #2c2d38;
    padding: 1rem;
}

.vision p,
.mission p {
    margin-top: 1rem;
    text-align: justify;
    text-indent: 50px;
}

.mv-container .mv-item {
    /* background: rgb(236, 236, 236); */
    padding: 0rem 3rem;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.objective-container {
    padding: 2rem 5rem;
    min-height: 100vh;
}

.objectives-title {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.objective p {
    margin-top: 1rem;
    text-align: justify;
    text-indent: 50px;
}

.go-container {
    padding: 2rem 5rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}

.go-container::before {
    content: '';
    /* background: url('../images/business-way-to-success.svg') no-repeat; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.go-title {
    font-size: 2rem;
}

.goals,
.objectives {
    border-top: .1em solid #2c2d38;
    padding: 1rem;
}

.goals ul {
    list-style-type: decimal; 
    margin: 1.5rem 0 0 2rem;
}

.objectives ul {
    list-style-type: none; 
    margin: 1.5rem 0 0 2rem;
}

.objectives ul > li:before {
    content: "- ";
    text-indent: -5px;
  }

.goals p,
.objectives p {
    margin-top: 1rem;
    text-align: justify;
    text-indent: 50px;
}

.go-container .go-item {
    /* background: rgb(236, 236, 236); */
    padding: 0rem 3rem;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.faqsContent {
    width: 100%;
    min-height: 100vh;
    padding: 1.5rem 5rem;
}

.faqsContent-item .list-container {
    margin-top: .5rem;
    padding: 0 2rem;
}

summary {
    padding: 1rem;
    background: #c7c6c6;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: .3em;
    font-weight: bold;
    transition: .3s;
}

details summary::marker {
    color: #1d4ed8;
}

summary:hover {
    background-color: #d5d5d5;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
    background: #eeeeee;
    text-indent: 50px;
    padding: 1rem;
    text-align: justify;
    border-radius: .3em;
    margin-bottom: 1em;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

@keyframes sweep {
    from {
        opacity: 0;
        margin-top: -10px;
    } to {
        opacity: 1;
        margin-top: 0;
    }
}

details .text-1 {
    margin: 1rem 0 .5rem 0;
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    .go-container,
    .mv-container {
        padding: 2rem 0;
    }

    .about-container {
        padding: 2rem 2rem;
    }

    .about-container .img {
        width: 100%;
    }
    
    .about-container img {
        width: 100%;
        height: 150px;
    }

    .faqsContent {
        padding: 1.5rem 2rem    ;
    }

    .faqsContent-item .list-container {
        padding: 0 1rem;
    }

    .sidebar {
        display: none;
    }

    .content h3.title {
        text-align: left;
        margin-left: -1.5rem;
    }

    .content .content-list {
        top: .5rem;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .content .content-list img {
        height: 200px;
        width: 250px;
        transform: scale(1.0);
        transition: transform 0.4s ease;
    }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    .go-container,
    .mv-container {
        padding: 2rem 0;
    }

    .about-container {
        padding: 2rem 2rem;
    }

    .about-container .img {
        width: 100%;
    }
    
    .about-container img {
        width: 100%;
        height: 150px;
    }

    .faqsContent {
        padding: 1.5rem 2rem    ;
    }

    .faqsContent-item .list-container {
        padding: 0 1rem;
    }

    .sidebar {
        display: none;
    }

    .content h3.title {
        text-align: left;
        margin-left: -1.5rem;
    }

    .content .content-list {
        top: .5rem;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .content .content-list img {
        height: 200px;
        width: 250px;
        transform: scale(1.0);
        transition: transform 0.4s ease;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .sidebar {
        display: none;
    }

    .content h3.title {
        text-align: left;
        margin-left: -1.5rem;
    }

    .content .content-list {
        top: .5rem;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .content .content-list img {
        height: 200px;
        width: 250px;
        transform: scale(1.0);
        transition: transform 0.4s ease;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .sidebar {
        width: 500px;
    }

    .sidebar ul li a{
        font-size: 1rem;
    }

    .content .content-list {
        display: grid;
        grid-template-columns: auto auto;
    }
}

